* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-principal {
  background-color: #222;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  grid-column: 1 / 4;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://i.pinimg.com/originals/5a/94/97/5a949702dd4bcb36d546083bf6381634.jpg");
  /* aspect-ratio: 16/9; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

h1 {
  color: white;
  text-shadow: 1px 1px 10px white;
  /* text-align: center; */
  font-size: 10rem;
  user-select: none;
  cursor: default;
  font-family: "Anton", sans-serif;
  font-weight: 500;
  font-style: normal;
}

nav {
  height: 30px;
  width: 100%;
  /* background-color: red; */
  /* position: absolute;
  bottom: 0; */
  background-image: linear-gradient(to top,#35374B,#000000);
}

ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

li {
  list-style-type: none;
  margin-right: 10px;
  width: 100px;
  height: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

a:hover {
  color: black;
  background-color: white;
}

.active {
  color: black;
  background-color: white;
}

main {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  padding: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Flag_of_England.svg/1200px-Flag_of_England.svg.png");
  background-size: cover;
  background-position: center;
}

/* section {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

main div {
  height: 100%;
  width: 100%;
}

.div-imagen {
  background-image: url("../img/195955f68019ab92f26f4ca4301e133b.png");
  aspect-ratio: 355/222;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
  height: 100%;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.div-imagen:hover {
  background-image: url("../img/ddd91ab347420bb8cf976dc00de884e1.png");
}

h3 {
  font-size: 2rem;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-shadow: 1px 1px 10px white;
  cursor: default;
  user-select: none;
}

p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  cursor: default;
}

.div-parrafo {
  grid-column: 3 / 5;
  /* border: 1px solid white; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

footer {
  background-image: linear-gradient(to top,#35374B,#000000);
  grid-column: 1 / 4;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.8rem;
  }

  .div-imagen {
    grid-column: 1 / 6;
    background-position: center;
    height: 200px;
  }
  nav {
    display: flex;
  }
  ul {
    flex: 1;
    gap: 0;
  }
  li {
    width: 100%;
    margin-right: 0;
  }
  .div-parrafo {
    grid-column: 1 / 6;
  }
}

/* @media (width: 768px) {
  .div-imagen {
    height: 20px;
    background-position: center;
  }

  h1 {
    font-size: 9rem;
  }
  nav {
    display: flex;
  }
  ul {
    flex: 1;
    gap: 0;
  }
  li {
    width: 100%;
    margin-right: 0;
  }
} */
